body{
    background-color: green;
}
.card{
    background-color: white;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    width: 100px;
    height: 175px;
    border-radius: 12px;
    padding: 10px;
    
}
.icono{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 25px;
    

    
}
.icono2{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
}

#medio{
    font-size: 40px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}